[submodule "cadenza-shell"]
	path = cadenza-shell
	url = git@git.musicaloft.com:municorn/cadenza-shell
[submodule "pinentry-cadenza"]
	path = pinentry-cadenza
	url = git@git.musicaloft.com:municorn/pinentry-cadenza
[submodule "cadenza-sounds"]
	path = cadenza-sounds
	url = git@git.musicaloft.com:municorn/cadenza-sounds
